@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --font: Righteous, Arial, Helvetica, sans-serif;

    --bg: #fff;
    --bg-secondary: lightgrey;
    --bg-disabled: grey;
    --bg-selected: lightgrey;
    --glow: #F29727;

    --text: #000;
}

.darkmode {
    --bg: #393646;
    --bg-secondary: #4F4557;
    --bg-disabled: #6D5D6E;
    --bg-selected: #4F4557;
    --glow: cyan;

    --text: #F4EEE0;
}

button {
    background-color: var(--bg-secondary);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}

body {
    font-family: var(--font);
    background-color: var(--bg);
    color: var(--text);
}

.container {
    padding: 80px 0;
    display: grid;
    justify-items: center;
}

.heading {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    font-family: var(--font);
    font-size: 110px;

    background-color: inherit;

    border: 1px solid var(--bg-secondary);
    width: 1.25em;
    height: 1.25em;

    display: grid;
    justify-content: center;
    align-content: center;
}

.cell:hover {
    cursor: pointer;
    background-color: var(--bg-selected);
}

.display {
    font-size: 36px;
    margin-bottom: 1rem;
}

.disabled {
    background-color: var(--bg-disabled);
}

.disabled .cell:hover {
    cursor: default;
    background-color: inherit;
}

.restart-btn {
    cursor: pointer;

    font-size: 32px;
    font-family: inherit;

    border-radius: 5px;

    padding: 10px 25px;
}

.dark-mode-toggle {
    --width: 105px;
    --height: calc(var(--width) / 2);

    cursor: pointer;

    position: absolute;
    right: 0;

    border: none;
    outline: 2px solid var(--text);

    margin: min(30px, 2%);

    width: var(--width);
    height: var(--height);
    border-radius: 10px;
}

.dark-mode-toggle svg {
    padding: 2px;
    width: 50%;
    aspect-ratio: 1;
    border-radius: inherit;

    background-color: darkorange;

    position: absolute;
    top: 0;
    left: 0;
}

.pressed svg {
    transform: translateX(100%);
    background-color: darkblue;
}

body,
.restart-btn,
.dark-mode-toggle,
.dark-mode-toggle svg {
    transition: .5s ease;
}

@media (max-width: 650px) {
    .heading {
        font-size: 40px;
    }

    .display {
        font-size: 28px;
    }

    .cell {
        font-size: 80px;
    }

    .restart-btn {
        font-size: 24px;
        padding: 5px 15px;
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    margin-top: 20px;
    padding: 0 20px;

}

.buttons > * {
    flex: 1 0 auto;
}

.restart-btn.chosen {
    box-shadow: 0 0 10px var(--glow);
}
